/* Add mobile styles for the component here.  */

.top1 {
    /* border-top-width: 1;
    border-top-color: black; */

    border-bottom-width: 1;
    border-bottom-color: black;

}

.mytop2 {
    border-top-width: 2;
    border-top-color: black;
    border-bottom-width: 1;
    border-bottom-color: black;

    background-color:Darkblue;
    color:white;
    text-align: center;
    font:30;
}

.dsite {
    /* border-top-width: 1;
    border-top-color: black;
    border-bottom-width: 1;
    border-bottom-color: black; */

    color:black;
    text-align: center;
    vertical-align:middle;
    font:20;
}